body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
}

main {
    font-family: 'Poppins', sans-serif;
}

.titulo-principal {
    font-weight: 700;
}

.texto {
    font-weight: 400;
}