body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
}

header img {
    width: 200px;
    margin-top: 64px;
    margin-bottom: 100px;
    margin-left: 80px;
}

main {
    font-family: 'Poppins', sans-serif;
}

.principal {
    display: flex;
    align-items: center;
}

.principal>div {
    width: 1281px;
    flex: 1;
    margin-left: 80px;
}

.principal>div:last-of-type {
    margin-left: 45px;
    margin-bottom: 150px;
}

.principal img {
    width: 100%;
}

.titulo-principal {
    font-size: 30px;
    letter-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    font-weight: 700;
    color: white;
    flex: 1;
}

.texto {
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
    color: white;
    font-size: 14px;
}

.botao {
    background: white;
    color: hsl(257, 40%, 49%);
    font-size: 16px;
    margin-top: 2em;
    border: none;
    border-radius: 50px;
    padding: 15px;
    padding-left: 9%;
    padding-right: 9%;
    box-shadow: 0px 10px 10px hsl(257, 49%, 43%);
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

